@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>WindyShip</title>
</head>
<body>
    <header id="header">
        <div class="logo"></div>
        <div class="menu-container">
            <nav class="navbar navbar-default navbar-fixed-top" style="padding-top: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul id="menu" class="menu">
                            <div class="menu-close fa fa-close"></div>
                            <li class="menu-global menu-top"><span class="menu-text">How it works?</span></li>
                            <li class="menu-global menu-middle1"><span class="menu-text">Windyship Vaue</span></li>
                            <li class="menu-global menu-middle2"><span class="menu-text">Our Team</span></li>
                            <li class="menu-global menu-bottom"><span class="menu-text">Contact Us</span></li>
                            <li class="menu-global menu-lang"><a href="/home/ar"><span class="menu-text">عربي</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="box" id="banner">
        <div class="main" id="caracter1"></div>
        <div class="main" id="caracter2"></div>
        <div class="main" id="caracter3"></div>
        <div class="main" id="caracter4"></div>
        <div class="main" id="caracter5"></div>
    </section>

    <section class="box" id="video">
        <iframe src="https://www.youtube.com/embed/bC1vO99M81o" frameborder="0" allowfullscreen></iframe>
    </section>

    <section class="box procedure" id="procedure1">

        <div class="section-heading">
            <h2>How it works</h2>
        </div>

        <div class="image">
            <div class="content"></div>
        </div>

        <div class="data">
            <div class="content">
                <div class="step-number">
                    <div class="number">
                        <div class="digit">
                            <span>1</span>
                        </div>
                    </div>
                </div>

                <div class="step-content">
                    <h3>Download the app</h3>
                    <p>for Android or Apple</p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="#" class="btn btn-default btn-social">
                                <i class="fa fa-android"></i> Android
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-social">
                                <i class="fa fa-apple"></i> Apple
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="box procedure" id="procedure2">
        <div class="section-heading">
            <div class="number">
                <div class="digit">
                    <span>2</span>
                </div>
            </div>
        </div>
        <div class="data">
            <div class="image">
                <div class="content1 "></div>
            </div>
            <div class="data">
                <div class="text-container">
                    <h3>Hi, I need someone to carry my shipment!</h3>
                    <p>It is wonderful to find someone near me to save time and money.</p>
                </div>
            </div>
        </div>

        <div class="data">
            <div class="data">
                <div class="text-container1">
                    <h3>Hi, I am available to carry your shipment!</h3>
                    <p>I am travelling soon, let us do it</p>
                </div>
            </div>
            <div class="image">
                <div class="content2"></div>
            </div>
        </div>
    </section>

    <section class="box procedure" id="procedure3">
        <div class="data">
            <div class="section-heading">
                <div class="text-container">
                    <h3>Let's meet up after 2 hours, </h3>
                    <p>what do you think?</p>
                </div>
            </div>
            <div class="image">
                <div class="content"></div>
            </div>
        </div>
    </section>

    <section class="box procedure" id="procedure4">
        <div class="image">
            <div class="data">
                <div class="content">
                    <div class="step-number">
                        <div class="number">
                            <div class="digit">
                                <span>3</span>
                            </div>
                        </div>
                    </div>

                    <div class="step-content">
                        <h3>Picking up the shipment.</h3>
                        <p>Here we go, have a nice trip</p>
                    </div>
                </div>
            </div>
            <div class="content"></div>
        </div>
    </section>

    <section class="box procedure" id="procedure5">
        <div class="image">
            <div class="content"></div>
        </div>
    </section>

    <section class="box procedure" id="procedure6">
        <div class="image">
            <div class="data">
                <div class="content">
                    <div class="step-number">
                        <div class="number">
                            <div class="digit">
                                <span>4</span>
                            </div>
                        </div>
                    </div>

                    <div class="step-content">
                        <h3>Shipment devlivery.</h3>
                        <p>Thanks man, write down the PIN code to close the transaction</p>
                    </div>
                </div>
            </div>
            <div class="content"></div>
        </div>
    </section>

    <section class="box procedure" id="procedure7">
        <div class="image">
            <div class="content"></div>
        </div>
    </section>

    <section class="box procedure" id="procedure8">
        <div class="section-heading">
            <h2>WindyShip Value</h2>
        </div>
        <div class="data">
            <ul class="advantages">
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/icon1.png" alt="jsa" class="avatar">
                            <figcaption>Cheeper</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/icon2.png" alt="jsa" class="avatar">
                            <figcaption>Faster</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/icon4.png" alt="jsa" class="avatar">
                            <figcaption>Available</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/icon3.png" alt="jsa" class="avatar">
                            <figcaption>Accessible</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="box procedure" id="procedure9">
        <div class="section-heading">
            <h2>WindyShip Team</h2>
        </div>
        <div class="data">
            <ul class="team">
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/team1.jpg" alt="jsa" class="grayscale avatar">
                            <figcaption>
                                Mohammed Khalil<em>President</em>
                            </figcaption>
                        </figure>
                    </a>
                    <p>
                        <b>BIO: </b>Co-founder of a startup company, ConCure, and he has managed the ConCure IP commercializing project in Dhahran Techno Valley Company. He has a strong financial analysis background, creative management skills that he gained from the different mentors who he met and the varied activities that he attended during his entrepreneurship journey. Before that, Mr. Khalil has worked as a Software/Hardware freelancer where he designed and developed different integrated systems for small institutes and firms. Mr. Khalil has won major prizes in multiple innovation/entrepreneurship competitions.  He received his MSc in computer engineering in 2015.
                    </p>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/team2.jpg" alt="jsa" class="grayscale avatar">
                            <figcaption>
                                Husam Walwil<em>VP, Marketing</em>
                            </figcaption>
                        </figure>
                    </a>
                    <p><b>BIO: </b>Husam is currently working as a Startup Executive for the Technology Transfer Innovation and Entrepreneurship Sector at King Fahd University of Petroleum and Minerals, a position he has held since February 2014. He teaches students and faculty the principles of design thinking and prototyping. His job also entails mentoring students, screening ideas, planning and executing entrepreneurship courses, events and forums. Husam has trained with and been exposed to many entrepreneurship incubation and education programs from top USA incubators and universities such as Pennsylvania State University, Penn State University, Babson College, Franklin W. Olin College of Engineering, and the Nashville Entrepreneur Center.</p>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/team3.jpg" alt="jsa" class="grayscale  avatar">
                            <figcaption>
                                Feres Kafiah<em>Board Member</em>
                            </figcaption>
                        </figure>
                    </a>
                    <p><b>BIO: </b>Cofounder of ConCure, and technical lead of ConCure product development and he is a PhD holder in Mechanical Engineering (Applied Materials and Manufacturing). Mr. Feras has 5 years’ experience in the construction field, he has worked as QC & QA manager and senior materials engineer at King Faisal University (KFU) new campus project where he managed a team to monitor all construction materials and daily practices.. Mr. Kafiah is also in the technology transfer, entrepreneurship and innovation practices as a tools for technological entrepreneurs. </p>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <img src="/images/team4.jpg" alt="jsa" class="grayscale avatar">
                            <figcaption>
                                Wasin Alatrash<em>VP, Product Development</em>
                            </figcaption>
                        </figure>
                    </a>
                    <p><b>BIO: </b>Founder of DotStarts, a company specializing in pioneering technical solutions. DotStarts provides integrated IT solutions that includes graphic design, website design and development, mobile app development and marketing. Before that, Mr. Wasim worked as a freelance online application designer and developer. He was the first runner up in the technical challenge open day for programmers in the Gaza Strip. Months after graduating, his project won the first place in the Startup Weekend competition, Gaza Strip 2012. Mr. Wasim earned his BSc. in computer engineering in 2012.</p>
                </li>
            </ul>

            <div id="team-bio"></div>
        </div>
    </section>

    <section class="box procedure" id="procedure10">
        <div class="section-heading">
            <h2>Contact us</h2>
        </div>

        <div class="form">
            <p>If you have a question, please send a message and we will answer your message within 24 hours</p>
            <div class="container">
                <form action="/home/send" method="POST">
                    <input type="text" id="name" placeholder="Name" name="name" />
                    <input type="text" id="email" placeholder="E-mail" name="email" />
                    <textarea id="message" placeholder="Message" name="message"></textarea>
                    <input type="submit" id="send" value="Send" />
                </form>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7444810.122600309!2d46.970930998430944!3d24.34087704362489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e7b33fe7952a41%3A0x5960504bc21ab69b!2sSaudi+Arabia!5e0!3m2!1sen!2s!4v1459724808941" style="width: 100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>

    <section class="box procedure" id="procedure11">
        <div class="data">
            <div class="content">
                <div class="step-content">
                    <p>info@windyship.com</p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="http://facebook.com/windyship"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/windyshipInc"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/10565069"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC-EETqseYYMEd1jxzd25thg"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                    <h6>&copy; 2016 Copyright Reserved to DotStarts</h6>
                </div>
            </div>
        </div>
    </section>

    <div class="loading">
        <div class="screenMobile">
            <div class="content">
                <div class="section">
                    <div class="skip">
                        <a href="#">Skip</a>
                    </div>
                    <div class="logo"></div>
                    <div class="data">
                        <div class="step-content">
                            <h3>Download the app</h3>
                            <p>for Android or Apple</p>
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <a href="#" class="btn btn-default btn-social">
                                        <i class="fa fa-android"></i> Android
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default btn-social">
                                        <i class="fa fa-apple"></i> Apple
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="image"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading">
        <div class="loader"></div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/windyship.js"></script>

</body>
</html>
